@model IEnumerable<LMS.Models.barcode>

@{
    ViewBag.Title = "BarcodeList";
}

<h2>BarcodeList</h2>

<p>
    @Html.ActionLink("Generate New Barcode", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bcode)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bid })
        </td>
    </tr>
}

</table>
