@model IEnumerable<LMS.Models.orderlist_pw>

@{
    ViewBag.Title = "OrderList_pw";
}
<h1 style="margin-top:20px; font-weight:bold; color:white;">Orders</h1>
<div style="margin-top:10px;">
    <h3>
        PieceWise Order | @Html.ActionLink("WeightWise Orders", "OrderList_ww") | @Html.ActionLink("PackageWise Orders", "OrderList_pkw")
    </h3>
    <hr />
    <h2 style="color:white;">PieceWise</h2>

    <p>
        @Html.ActionLink("Create New", "Create_pw")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OPWid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWcust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWservice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWqty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWdel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWdue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWstat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWadvance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPWprice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWcust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWservice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWqty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWdel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWdue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWstat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWadvance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPWprice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit_pw", new { id = item.OPWid }) |
                    @Html.ActionLink("Invoice","Invoice_pw", new { id=item.OPWid}) |
                    @Html.ActionLink("Delete", "Delete_pw", new { id = item.OPWid })
                </td>
            </tr>
        }

    </table>
 </div>
